body {
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  color: #575757;
}
h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
h3 {
  margin: 0;
}
.flexible {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}

button {
  text-decoration: none;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 85px;
}
button:disabled {
  background: #dddddd;
  color: #ceabab;
}
td {
  width: 200px;
}
.total-price {
  color: rgb(173, 1, 189);
}
#popup-green {
  color: green;
  visibility: hidden;
}
#popup-red {
  color: red;
  visibility: hidden;
}
footer {
  text-align: center;
  color: rgb(206, 6, 6);
}
